$white-color: #fff;
$blue-bg-color: #4AB6F4;
$blue-bg-color2: #053276;
$blue-bg-color3: #69ddd0;
$blue-txt-color: #053276;

$black-color: #000;
$gray-color: #f0f0f0;
$accent-color:#043276;

.basic-animation{
    transition: all 0.2s ease-in-out;
}