$white-color: rgba(255, 255, 255, 0.89);
$blue-bg-color1: #1722c7fd;
$blue-bg-color2: #575fd7;

$black-color: #000;
$gray-color: #f0f0f0;
$accent-color:#434868fd;

.basic-animation{
    transition: all 0.2s ease-in-out;
}